@import "../app.component.scss";

.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  border-bottom: solid 1px gray;
    .btn-secondary {
        background-color: $cor-principal;
        border: none;
    }
    padding-bottom: 12px;
    background-color: $cor-principal;
    h1 {
      text-decoration: none;
      font-family: $fonte-principal;
      font-size: $extra-grande;
      padding-top: 20px;
      a{
        text-decoration: none;
        color: $branco;
      }
    }
    .dropdown {
      font-family: $fonte-secundaria;
      font-size: $media;
      .dropdown-item {
        &:hover {
          color: $cor-secundaria;
          transition: 0.5 ease-in-out;
        }
      }
    }
    button {
      font-family: $fonte-secundaria;
      font-size: $media;
      color: $branco;
      margin-top: 10px;
      &:hover {
        color: $cor-secundaria;
        transition: 0.5 ease-in-out;
      }
    }
  }
  .navbar{
    width: 100%;

  }

  @media screen and (max-width: 768px) {
    mat-toolbar {
      h1 {
        font-size: $media;
      }
      .navigation {
        button {
          font-size: $pequena;
        }
      }
      .btn-secondary {
        font-size: $pequena;
      }
    }
  }